@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sigmar', cursive;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}